
@{
    ViewData["Title"] = "Error404";
}


<center class="row center-block">
    <img src="/images/poney.jpg" alt="Petit poney" class="img-fluid" style="display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;" />
    <center />
    <p class="lead">Erreur 404</p>
    <p>
        Il y a eu une erreur</br>
    </p><br />
</center>
    </div>

