@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron" style='background-image:url("images/horse1.jpg");background-size:cover;height:450px'>
    <h1 class="display-2" style="font-weight: bold;font-size: 55px;color:white">CENTRE EQUESTRE</h1>
    <h1 class="display-4" style="font-size: 40px;color:white">du Lac Saint-Jean</h1>
</div>

<footer class="page-footer font-small blue pt-4 bg-light fixed-bottom">
    <div class="row justify-content-md-center">
        <div class="col col-lg-7">
            <p class="lead">Nos services</p>
            <p>
                Nous gardons et bichonons vos chevaux gratuitement à condition qu'ils puissent nous servir à effectuer nos activités.
                Nous proposons un large choix d'activités équestres dans la région.
                Réservez une activité pour vous et vos amis avec nos profs agréés.</br>
            </p><br />
        </div>
    </div>
</footer>


